<html>

<head>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div class="Container" ng-app="myApp" ng-controller="todoCtrl" align="center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h3>My ToDo App</h3>

            <form ng-submit="todoAdd()">
                <input class="form-control" placeholder="Add Item" ng-model="todoInput" type="text" name="itemName"
                    required />
                <br />
                <button class="form-control btn btn-primary" type="submit">submit</button>
            </form>
            <br />
            <div class="Col-md-12" ng-repeat="x in todoList">
                <table class="table">

                    <tbody>
                        <tr>

                            <td align="left">
                                <p ng-bind="x.title"></p>
                            </td>
                            <!-- <td align="right">
                                <p ng-click="" class="btn btn-default">Edit</p>
                            </td>-->
                            <td align="right">
                                <p ng-click="remove(x._id)" class="btn btn-danger">-</p>
                            </td>

                        </tr>

                    </tbody>
                </table>





            </div>
            <br />

        </div>
    </div>


    <script type="text/javascript">
        var app = angular.module("myApp", []);

        app.controller("todoCtrl", function ($scope, $http) {

            $scope.todoList = [];
            $http.get('/api')
                .then(function (result) {
                    $scope.todoList = result.data
                    //console.log($scope.todoList);
                }, function (error) {

                });

            $scope.todoAdd = function () {
                var data = [{ title: $scope.todoInput, done: false }]
                $http.post('/api', { title: $scope.todoInput })
                    .then(function (result) {
                        $scope.todoList.push({ title: $scope.todoInput, done: false });
                    }, function (error) {

                    });
            }



            $scope.remove = function (a) {

                $http.delete('/api/' + a)
                    .then(function (result) {
                        var inde = $scope.todoList.find(item => item._id === a);
                        var index = $scope.todoList.indexOf(inde);
                        $scope.todoList.splice(index, 1);
                        console.log(index)
                    })
            }
        });

    </script>



</body>

</html>