<html>
<head>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
    <body> 
        <div  class="Container" ng-app= "myApp" ng-controller="todoCtrl" align="center">
            <div class="col-md-4">
                <h3>My ToDo App</h3>

                <form ng-submit="todoAdd()" action="/api/post" method="post">
                    <input class="form-control" placeholder="Add Item" ng-model="todoInput" type="text" name ="itemName" required/>
                    <br />
                    <button class="form-control btn btn-primary" type="submit">submit</button>
                </form>
                <br />
                <div ng-repeat="x in todoList" >
                    <input class="custom-control-label" type="checkbox" ng-model="x.done" />
                    &nbsp;&nbsp;&nbsp;
                    <span ng-bind="x.todoText"></span>
                </div>
                <br />
    <p><button class="form-control btn btn-danger" ng-click="remove()">remove</button></p>
</div>
</div>


<script type="text/javascript">
var app= angular.module("myApp",[]);

app.controller("todoCtrl", function($scope){

$scope.todoList = [{todoText : "Clean the House", done: false  }];

$scope.todoAdd = function(){
    $scope.todoList.push({todoText: $scope.todoInput, done: false});
    $scope.todoInput ="";
}

$scope.remove = function(){
    var oldList = $scope.todoList;
    $scope.todoList = [];
    angular.forEach(oldList, function(x){
        if(!x.done) $scope.todoList.push(x);
    })
}
});

    </script>
    <!-- <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/factory.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script> -->

            
        </body>   
    </html>